@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Bai Jamjuree";
  margin: 0;
}

:root {
  --primary-cyan: hsl(171, 66%, 44%);
  --primary-blue: hsl(233, 100%, 69%);
  --neutral-dark-blue: hsl(210, 10%, 33%);
  --neutral-grayish-blue: hsl(201, 11%, 66%);
}

html {
  font-size: 18px;
}

body {
  top: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  overflow-x: hidden;
}

/* HEADER */

header {
  margin: 0 auto;
  text-align: center;
  background-image: url(/images/bg-header-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header img {
  margin-top: 20vh;
  transform: scale(110%);
}

header h1 {
  color: var(--neutral-dark-blue);
  margin-top: 3rem;
  font-size: 3rem;
  transition: font-size 0.2s ease-out;
}

header p {
  margin-top: 2rem;
  font-size: 1.2rem;
  letter-spacing: 0.07rem;
  color: var(--neutral-grayish-blue);
  transition: letter-spacing 0.3s ease-out;
}

button {
  all: unset;
  margin-top: 3rem;
  padding: 1rem 2rem;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.808);
  font-weight: 600;
  transition: all 0.3s ease-out;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s linear;
}

button:active {
  opacity: 1;
}

.download-ios {
  background-color: var(--primary-cyan);
  box-shadow: rgba(0, 225, 255, 0.4) 0px 5px 45px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.download-mac {
  margin-left: 1rem;
  background-color: var(--primary-blue);
  box-shadow: rgba(0, 110, 255, 0.4) 0px 5px 45px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* END OF HEADER */

/* MAIN TEXT COLORS */
main h2,
h3 {
  color: var(--neutral-dark-blue);
}

main p {
  color: var(--neutral-grayish-blue);
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main h2 {
  font-size: 2rem;
  margin-top: 15vh;
  margin-bottom: 1.5rem;
  max-width: 70vw;
}

main p {
  width: 45vw;
  font-size: 1.1rem;
}

.snippets-section {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.snippets-section img {
  margin-left: -2vw;
  max-width: 1500px;
  max-height: 500px;
}

.snippets-section .snippets-section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
  text-align: left;
}

.snippets-section h3 {
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.snippets-section p {
  width: 60%;
}

main .devices-image {
  margin-top: 5rem;
  margin-bottom: -4rem;
  max-width: 80vw;
}

.company-logos {
  display: flex;
  align-items: center;
}

.company-logo {
  margin: 5rem 3rem;
  margin-bottom: 0;
}

main ul {
  width: 100%;
  all: unset;
  display: flex;
}

li {
  all: unset;
  color: var(--neutral-grayish-blue);
  line-height: 1.5rem;
  padding: 0;
  width: 300px;
  margin: 0 3rem;
}

li h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

li img {
  margin-top: 5rem;
  vertical-align: center;
  height: 32px;
}

/* END OF MAIN */

/* FOOTER */

footer {
  margin-top: 5rem;
  background-color: rgba(238, 238, 238, 0.808);
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 0;
  margin: 0 auto;
  width: 80%;
}

footer a {
  all: unset;
  color: var(--neutral-dark-blue);
}

footer a:hover {
  cursor: pointer;
  font-size: 1.1rem;
}

footer a:visited {
  color: darkslateblue;
}

#faqs {
  grid-column: 2;
  grid-row: 2;
}

#contact {
  grid-column: 2;
  grid-row: 3;
}

#policy {
  grid-column: 3;
  grid-row: 2;
}

#press {
  grid-column: 3;
  grid-row: 3;
}

#install {
  grid-column: 4;
  grid-row: 2;
}

footer #footer-logo {
  transform: scale(50%);
  grid-column: 1;
  grid-row: 1/5;
}

footer .social-media {
  grid-column: 6;
  grid-row: 1/5;
}

.social-media img {
  margin: 1rem;
}

.social-media img:hover {
  transform: rotate(360deg) scale(130%);
  transition: 0.1s linear;
}

@media screen and (max-width: 1150px) {
  .company-logos {
    transform: scale(70%);
  }

  main ul {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .snippets-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header p {
    max-width: 80%;
    margin: 3rem auto;
    margin-bottom: 0;
  }

  .snippets-section img {
    all: unset;
    max-width: 80vw;
    height: auto;
  }

  .snippets-section .snippets-section-text {
    text-align: center;
    margin: 0;
    align-items: center;
  }

  .snippets-section-text p {
    width: 60%;
  }

  .company-logos {
    flex-direction: column;
    margin-bottom: -5rem;
  }

  .company-logo {
    transform: scale(120%);
    margin: 4rem auto;
  }

  .bottom-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 70vw;
  }

  .download-mac {
    margin-left: 0;
    margin-top: 1rem;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
  }

  .footer-content a {
    margin: 1rem 0;
  }
}
